extends admin-tabs

block tab
  h3 Available Reports
  ul
    li
      a(href='/report/devicelist', target='_blank') Device List
    li
      a(href='/report/devicelist-cntrl', target='_blank') Device List with Controls
    li
      a(href='/report/jailbreak', target='_blank') Device List By Jailbreak Status
