extends admin-tabs

block append head
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
  script.
    up = down = left = right = false;

    window.addEventListener("keydown", function(e) {
      switch(event.keyCode) {
        case 37: //left
          if (!left) {
            get('arrowLeft');
          }
          left = true;
          break;
        case 38: //up
          if (!up) {
            get('arrowUp');
          }
          up = true;
          break;
        case 39: //right
          if (!right) {
            get('arrowRight');
          }
          right = true;
          break;
        case 40: //down
          if (!down) {
            get('arrowDown');
          }
          down = true;
          break;
      }
    });
    
    function get(arrow) {
      $.get("/controls/"+arrow, null);
    }
    
    window.addEventListener("keyup", function(e) {
      switch(event.keyCode) {
        case 37:
          left = false;
          break;
        case 38:
          up = false;
          break;
        case 39:
          right = false;
          break;
        case 40:
          down = false;
          break;
      }
    });

block tab
    #controls
      p
      strong Press arrows to navigate
      table(style='width:50%;')
        tr
          td(colspan='2', align='center')
            a(href='/controls/arrowUp', id='up')
              img(src='/images/arrow-up.png')
        tr
          td(align='center', width='50%;')
            a(href='/controls/arrowLeft', id='left')
              img(src='/images/arrow-left.png')
          td(align='center')
            a(href='/controls/arrowRight', id='right')
              img(src='/images/arrow-right.png')
        tr
          td(colspan='2', align='center')
            a(href='/controls/arrowDown', id='down')
              img(src='/images/arrow-down.png')
