block tab
  b Mikbot Crew
  p
  table(border=1)
    thead
      tr
        th(align='left') Name
        th(align='left') Contribution
    tbody
      tr
        td Mikhail
        td Happy user
      tr
        td Paula
        td Graphic designer
      tr
        td Carter
        td Mikbot server
      tr
        td Anurag
        td Mikbot server
      tr
        td Valeh
        td Mikbot server
      tr
        td Hamid
        td Mikbot server
      tr
        td Nitin
        td Hardware
      tr
        td Brent
        td Hardware
      tr
        td Sean
        td CloudMQTT server
      tr
        td John
        td Rumba, electronics
      tr
        td Catharine
        td Arduino programming
      tr
        td Mark
        td Embeded engineer (wiring)