extends admin-tabs

block append head
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
  script.
    /*
    var canvas = document.getElementById("myCanvas").getContext("2d");
    canvas.fillStyle = "#000000";
    canvas.scale(4, 4);

    left = loadImage("images/left.png", 0, 8);
    leftPress = loadImage("images/leftPress.png", 0, 8);
    up = loadImage("images/up.png", 13, 0);
    upPress = loadImage("images/upPress.png", 13, 0);
    right = loadImage("images/right.png", 26, 8);
    rightPress = loadImage("images/rightPress.png", 26, 8);
    down = loadImage("images/down.png", 13, 8);
    downPress = loadImage("images/downPress.png", 13, 8);

    function loadImage(path, x, y) {
      var img = new Image();
      img.x = x;
      img.y = y;
      img.src = path;
      img.onload = function() {
        canvas.drawImage(this, img.x, img.y);
      }
      return img;
    };
    */

    window.addEventListener("keydown", function(e) {
      switch(event.keyCode) {
        case 37: //left
          post('L');
          break;
        case 38: //up
          post('F');
          break;
        case 39: //right
          post('R');
          break;
        case 40: //down
          post('B');
          break;
      }
    });
    
<<<<<<< HEAD
    function post(dir) {}
      $.post("/controls/controls/:arrow", {
=======
    function post(dir) {


      $.post("/controls/:arrow", {
>>>>>>> 7f93d2f26bfdf50a9a037989d962add5be8f4a59
        command:dir
      },
      null);
      console.log(event.keyCode);
    }
    
    /*
    window.addEventListener("keyup", function(e) {
      switch(event.keyCode) {
        case 37:
          left = false;
          break;
        case 38:
          up = false;
          break;
        case 39:
          right = false;
          break;
        case 40:
          down = false;
          break;
      }
      console.log(event.keyCode);
    });
    */

block tab
  canvas(id='myCanvas', width='200', height='100')
  p Its aliiiive