doctype html
html
  head
    title Mikbot! Server
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon', href='/images/favicon.ico')
    block head

  body
    block content
